extends ../base

block content
  .content-wrapper
    mixin title
      | User
      small edit
    include form

block scripts
  script(type='text/javascript').
    $(function () {
      $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
      });
    });
