extends ../base

block content
  .content-wrapper
    section.content-header
      h1.pull-left
        | Users
        small list
      .pull-right
        a.btn.btn-success.btn-flat.btn-sm(href='/users/edit')
          i.fa.fa-plus
          strong  ADD USER
      .clearfix

    section.content
      .row
        .col-xs-12
          .box
            .box-header
              h3.box-title Users
            .box-body
              table#table1.table.table-bordered.table-hover
                thead
                  tr
                    th Name
                    th E-Mail
                    th Actions
                tbody
                  each user in users
                    tr
                      td= user.name
                      td= user.email
                      td
                        .btn-toolbar
                          a.btn.btn-sm.btn-default.btn-flat(href='/users/edit')
                            i.fa.fa-edit
                          button.btn.btn-sm.btn-danger.btn-flat
                            i.fa.fa-trash-o
                tfoot
                  tr
                    th Name
                    th E-Mail
                    th Actions

block scripts
  script(type='text/javascript').
    $(function () {
      $('#table1').dataTable({
      "bPaginate": true,
      "bLengthChange": false,
      "bSort": true,
      "bInfo": true,
      "columns": [
        { "orderable": true},
        { "orderable": true},
        { "orderable": false}
      ]
      });
    });
